
main {
    display: grid;
    justify-items: center;
    /* ----------- */
    margin: 25px 0px 25px 0px;
    font-family: sans-serif;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
}

h1 {
    padding-top: 20px;
    font-size: 38px;
    opacity: 0.7;
    font-family: sans-serif;
}

.slogan {
    text-align: center;
}

#img-div {
    background-color: #ffffff;
    padding: 20px 110px 15px 110px;
}

img {
    width: 100%;
    height: auto;
}

#img-caption {
    padding: 10px;
    text-align: center;
}

#tribute-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    text-align: center;
    font-size: 18px;
    opacity: 0.7;
    font-family:sans-serif;
    padding: 30px;
}

.ibihes {
    display: grid;
    justify-items: center;
}
.ibihe {
    width: 50vw;
    font-size: 16px;
    font-weight:400;
    opacity: 0.8;
    line-height: 25px;
}

.year {
    font-weight: bold;
}

section {
    padding-top: 20px;
}

.full-history-link-cont {
    padding: 20px;
    font-weight: 800;
    
}
